    h1 {
      font-size: 20px;
    }

    a {
      display: block;
      font-size: 20px;
      margin-top: 40px;
    }

    img {
      display: block;
    }

    section {
      background: #eee;
      margin: 20px 10px;
      padding: 10px;
    }

    section button {
      margin-bottom: 10px;
    }

    section pre {
      padding: 10px;
      overflow: auto;
      font-size: 16;
      line-height: 1.45;
      background-color: #f6f8fa;
      border-radius: 3px;
      white-space: pre-wrap;
    }
	  
	  button {
		  padding: 10px 20px;
		  display: block;
			background: #ccf;
			font-size: 16px;
	  }
